.wrapquotes{
    display: grid;
    grid-template-columns:45% 10% 45%;
}
.quote-box{
  transform: scale(0.75);
}
.quote {
    background-color: #6b936a;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
    margin: 0;
    padding:10px;
    font-size: 20px;
  }
  
  .name {
    background-color: #333;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  /* Reset */
  blockquote {
    padding: 0;
    margin: 0;
  }
  
  blockquote::after {
    border-color: transparent #6b936a transparent transparent;
    border-image: none;
    border-style: solid;
     
    top: 40px;
    content: " ";
    display: block;
    right: 75%;
    position: relative;
  }

  /*--------8-6-021---------*/
  
.btnpro {
  /* reset */
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  /* styles */
  position: relative;
  background:  linear-gradient(to right,  #D6BDDD
,#B7B4DB,#ABCADA,#B8D8BC,#D8D8BA,#DDBDC0);
  background-size: 300%;
  padding: 2px;
  color: black;
  text-transform:uppercase;
  border-radius: 30px;
  font-size:0.7rem;
  transition: .3s;
  animation: bruh 16s linear infinite;
 
}

@keyframes bruh {
   0% {
       background-position: 0 50%;
   }

   50% {
       background-position: 100% 50%;
   }

   100% {
       background-position: 0 50%;
   }
}

.btnpro a {
   
  margin:  1px auto;
  text-decoration: none;
  color: lighten(#222, 10%);
  font-family: "Source Code Pro";
  transition: .3s;

  
}

.btnpro a:hover {
  color: black;font-weight: 600;
}

.miname{
  font-size: 16px;
}
.self{
  align-self: center;
} 
/*-------MIOS--------*/
.wrappreguntas{
  display:flex; flex-wrap: wrap;
justify-content:space-around;
border: 1px 1px black;}

.group{
text-align: center;
 padding:3px 20px; 
width: 25%;
 border: 3px solid white;
}
.group h3{
  padding-top: 5px;
  color: white;
  line-height:31px;
  }

  .group button{ 
    }
/*------FIN MIOS---------*/

figcaption .h4{font-weight: 600;text-shadow: 1px 1px green;
padding:0 20px}

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float:left;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
  border: 5px solid burlywood;
  display: block;
}
.swing:after{
  content: '';
  position: absolute;  
  width: 20px; height: 20px;  
  border: 1px solid #999;
  top: -10px; left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}
/* nail */
.swing:before{
  content: '';
  position: absolute;
  width: 5px; height: 5px;
  top: -14px;left: 52%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@keyframes swing {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}


.wrapbanderas{display: flex;justify-content:flex-start;
}
 

.wrapbanderas > div {margin-right: 10px;}
.wrapbanderas > div img{height:27px;width:70px;}

/*--------------------------------------------*/
/*Sentence*/
.sentence{
  color: white;
  font-size: 15px;  
} 
/*Wrapper*/
.wrapperfrases{
  align-items:flex-end;
  display:flex;flex-direction: column;
 padding-right: 180px;
   padding-top: 140px;
}

/*Vertical Sliding*/
.slidingVertical{
display: inline;
text-indent: 8px;
}
.slidingVertical span{
animation: topToBottom 12.5s linear infinite 0s;
-ms-animation: topToBottom 12.5s linear infinite 0s;
-webkit-animation: topToBottom 12.5s linear infinite 0s;
color: #378C3F;
opacity: 0;
overflow: hidden;
position: absolute;font-weight: 600;
}
.slidingVertical span:nth-child(2){
animation-delay: 2.5s;
-ms-animation-delay: 2.5s;
-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
animation-delay: 5s;
-ms-animation-delay: 5s;
-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
animation-delay: 7.5s;
-ms-animation-delay: 7.5s;
-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
animation-delay: 10s;
-ms-animation-delay: 10s;
-webkit-animation-delay: 10s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
0% { opacity: 0; }
5% { opacity: 0; -moz-transform: translateY(-50px); }
10% { opacity: 1; -moz-transform: translateY(0px); }
25% { opacity: 1; -moz-transform: translateY(0px); }
30% { opacity: 0; -moz-transform: translateY(50px); }
80% { opacity: 0; }
100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
0% { opacity: 0; }
5% { opacity: 0; -webkit-transform: translateY(-50px); }
10% { opacity: 1; -webkit-transform: translateY(0px); }
25% { opacity: 1; -webkit-transform: translateY(0px); }
30% { opacity: 0; -webkit-transform: translateY(50px); }
80% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes topToBottom{
0% { opacity: 0; }
5% { opacity: 0; -ms-transform: translateY(-50px); }
10% { opacity: 1; -ms-transform: translateY(0px); }
25% { opacity: 1; -ms-transform: translateY(0px); }
30% { opacity: 0; -ms-transform: translateY(50px); }
80% { opacity: 0; }
100% { opacity: 0; }
}

/*Horizontal Sliding*/
.slidingHorizontal{
display: inline;
text-indent: 8px;
}
.slidingHorizontal span{
animation: leftToRight 12.5s linear infinite 0s;
-ms-animation: leftToRight 12.5s linear infinite 0s;
-webkit-animation: leftToRight 12.5s linear infinite 0s;
color: #378C3F;
opacity: 0;font-weight: 600;
overflow: hidden;
position: absolute;
}
.slidingHorizontal span:nth-child(2){
animation-delay: 2.5s;
-ms-animation-delay: 2.5s;
-webkit-animation-delay: 2.5s;
}
.slidingHorizontal span:nth-child(3){
animation-delay: 5s;
-ms-animation-delay: 5s;
-webkit-animation-delay: 5s;
}
.slidingHorizontal span:nth-child(4){
animation-delay: 7.5s;
-ms-animation-delay: 7.5s;
-webkit-animation-delay: 7.5s;
}
.slidingHorizontal span:nth-child(5){
animation-delay: 10s;
-ms-animation-delay: 10s;
-webkit-animation-delay: 10s;
}

/*leftToRight Animation*/
@-moz-keyframes leftToRight{
0% { opacity: 0; }
5% { opacity: 0; -moz-transform: translateX(-50px); }
10% { opacity: 1; -moz-transform: translateX(0px); }
25% { opacity: 1; -moz-transform: translateX(0px); }
30% { opacity: 0; -moz-transform: translateX(50px); }
80% { opacity: 0; }
100% { opacity: 0; }
}
@-webkit-keyframes leftToRight{
0% { opacity: 0; }
5% { opacity: 0; -webkit-transform: translateX(-50px); }
10% { opacity: 1; -webkit-transform: translateX(0px); }
25% { opacity: 1; -webkit-transform: translateX(0px); }
30% { opacity: 0; -webkit-transform: translateX(50px); }
80% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes leftToRight{
0% { opacity: 0; }
5% { opacity: 0; -ms-transform: translateX(-50px); }
10% { opacity: 1; -ms-transform: translateX(0px); }
25% { opacity: 1; -ms-transform: translateX(0px); }
30% { opacity: 0; -ms-transform: translateX(50px); }
80% { opacity: 0; }
100% { opacity: 0; }
}

/*FadeIn*/
.fadeIn{
display: inline;
text-indent: 8px;
}
.fadeIn span{
animation: fadeEffect 12.5s linear infinite 0s;
-ms-animation: fadeEffect 12.5s linear infinite 0s;
-webkit-animation: fadeEffect 12.5s linear infinite 0s;
color: #378C3F;
opacity: 0;font-weight: 600;
overflow: hidden;
position: absolute;
}
.fadeIn span:nth-child(2){
animation-delay: 2.5s;
-ms-animation-delay: 2.5s;
-webkit-animation-delay: 2.5s;
}
.fadeIn span:nth-child(3){
animation-delay: 5s;
-ms-animation-delay: 5s;
-webkit-animation-delay: 5s;
}
.fadeIn span:nth-child(4){
animation-delay: 7.5s;
-ms-animation-delay: 7.5s;
-webkit-animation-delay: 7.5s;
}
.fadeIn span:nth-child(5){
animation-delay: 10s;
-ms-animation-delay: 10s;
-webkit-animation-delay: 10s;
}

/*FadeIn Animation*/
@-moz-keyframes fadeEffect{
0% { opacity: 0; }
5% { opacity: 0; -moz-transform: translateY(0px); }
10% { opacity: 1; -moz-transform: translateY(0px); }
25% { opacity: 1; -moz-transform: translateY(0px); }
30% { opacity: 0; -moz-transform: translateY(0px); }
80% { opacity: 0; }
100% { opacity: 0; }
}
@-webkit-keyframes fadeEffect{
0% { opacity: 0; }
5% { opacity: 0; -webkit-transform: translateY(0px); }
10% { opacity: 1; -webkit-transform: translateY(0px); }
25% { opacity: 1; -webkit-transform: translateY(0px); }
30% { opacity: 0; -webkit-transform: translateY(0px); }
80% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes fadeEffect{
0% { opacity: 0; }
5% { opacity: 0; -ms-transform: translateY(0px); }
10% { opacity: 1; -ms-transform: translateY(0px); }
25% { opacity: 1; -ms-transform: translateY(0px); }
30% { opacity: 0; -ms-transform: translateY(0px); }
80% { opacity: 0; }
100% { opacity: 0; }
}
 /*---------------------------------*/
 .rotacion{animation: rotation 8s infinite linear;}
 
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(0deg);
  }
}
/*-------------------------------------------*/
 
/*---------mios---------*/
.pmodal{
  font-weight: 600;  
}
.ulmodal{text-align: left; height:100%;
  width: 100%;
  }

  .spanmodal{color:red;font-style: italic;font-size: 28px;}

  
.p-modal-angular{font-size: 22px;}
 /*-----------------*/


  .specialul{text-align: left; height: 400px;
    width:900px;
    overflow-y: auto;}

.specialul li img{width: 50%;height: 100%; }
.specialul li {
  font-size: 23px;line-height: 50px;
margin-bottom: 20px;}

.specialul .before7{
  list-style:none;
  }

.specialul .before1::before{
  content:'Importaciones de Firebase service y modelo de datos.'; 
    display:block;
  }
 
  .specialul .before2::before{
    content:'Servicio FB se carga al constructor.';
    display:block;
    }
    .specialul .before3::before{
      content:'Creamos metodos para ser usados en donde sea.';
      display:block;
      }
      .specialul .before4::before{
        content:'Importamos servicio en Componente y lo inyectamos en su constructor.';
        display:block;
        }
        .specialul .before5::before{
          content:'Accedemos a método y propiedades de nuestro servicio inyectado.';
          display:block;
          }
          .specialul .before6::before{
            content:'el home.html pinta la información.';
            display:block;
            }
            .specialul .before8::before{
              content:'Base de datos remota a consumir.';
              display:block;
              }

/*--------------------------------------------*/
@media screen and (max-width: 992px) {
    .wrapquotes{
        display: flex;
      flex-direction: column;
    }
 
.quote-box{
   display: none;
}
.btnpro{
  margin: auto;
}
.group{
   width: 100%;margin-bottom:5px;
  }
  
 /*Wrapper*/
.wrapperfrases{  
 position: relative; bottom: 105px;left:20px;
 

} 
 .sentence{font-size: 15px;}

 .s2{display: none;}
 .s3{position: relative;bottom:18px;left:8px;}
 /*---------------------*/
 .specialul li img{width: 100%; }

 .specialul li {font-size: 14px;line-height: 20px;margin-bottom: 10px;}

.specialul{ width:100%;}


.p-modal-angular{font-size: 18px;line-height: 26px;}
}