.wrapquotes{
    display: grid;
    grid-template-columns:45% 10% 45%;
}
.quote-box{
  transform: scale(0.75);
}
.quote {
    background-color: #6b936a;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
    margin: 0;
    padding:10px;
    font-size: 20px;
  }
  
  .name {
    background-color: #333;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  /* Reset */
  blockquote {
    padding: 0;
    margin: 0;
  }
  
  blockquote::after {
    border-color: transparent #6b936a transparent transparent;
    border-image: none;
    border-style: solid;
     
    top: 40px;
    content: " ";
    display: block;
    right: 75%;
    position: relative;
  }

  /*--------8-6-021---------*/
  
.btnpro {
  /* reset */
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  /* styles */
  position: relative;
  background:  linear-gradient(to right,  #D6BDDD
,#B7B4DB,#ABCADA,#B8D8BC,#D8D8BA,#DDBDC0);
  background-size: 300%;
  padding: 2px;
  color: black;
  text-transform:uppercase;
  border-radius: 30px;
  font-size:0.7rem;
  transition: .3s;
  animation: bruh 16s linear infinite;
 
}

@keyframes bruh {
   0% {
       background-position: 0 50%;
   }

   50% {
       background-position: 100% 50%;
   }

   100% {
       background-position: 0 50%;
   }
}

.btnpro a {
   
  margin:  1px auto;
  text-decoration: none;
  color: lighten(#222, 10%);
  font-family: "Source Code Pro";
  transition: .3s;

  
}

.btnpro a:hover {
  color: black;font-weight: 600;
}

.miname{
  font-size: 16px;
}
.self{
  align-self: center;
}

.specialskills{transform: scale(0.9)}
.specialskills2{transform: scale(0.8)}

/*---------------*/
.wrappreguntas{
  display:flex; flex-wrap: wrap;
justify-content:space-around;
border: 1px 1px black;}

.group{
text-align: center;
margin-top: 10px;
margin-bottom: 20px;padding:10px 20px;
box-shadow: 1px 1px 1px black, -1px -1px 1px black;
width: 45%;
}

.pmodal{
  font-weight: 600;
}
.ulmodal{text-align: left;}

figcaption .h4{font-weight: 600;text-shadow: 1px 1px green;
padding:0 20px}

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float:left;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
  border: 5px solid #f8f8f8;
  display: block;
}
.swing:after{
  content: '';
  position: absolute;  
  width: 20px; height: 20px;  
  border: 1px solid #999;
  top: -10px; left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}
/* nail */
.swing:before{
  content: '';
  position: absolute;
  width: 5px; height: 5px;
  top: -14px;left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@keyframes swing {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}


.wrapbanderas{display: flex;justify-content:flex-start;
}
 

.wrapbanderas > div {margin-right: 10px;}
.wrapbanderas > div img{height:27px;width:70px;}
/*--------------------------------------------*/
  @media screen and (max-width: 992px) {
    .wrapquotes{
        display: flex;
      flex-direction: column;
    }
 
.quote-box{
   display: none;
}
.btnpro{
  margin: auto;
}
.group{
   width: 100%;margin-bottom:5px;
  }
     
}